<div>
    <div class="imageContainer">
        <img src="assets/author.jpg" alt="{{ 'author.pictureDescription' | ownLanguage }}">
        <span class="contact">{{ 'about.contact' | ownLanguage }}</span>
        <a href="https://www.linkedin.com/in/fernando-espana-garcia">linkedin</a>
    </div>
    <div>
        <span>{{ 'about.descriptionOwn' | ownLanguage }}</span>
        <h2>{{ 'about.educationTitle' | ownLanguage }}</h2>
        <span>{{ 'about.descriptionEducation' | ownLanguage }}</span>
        <h2>{{ 'about.workTitle' | ownLanguage }}</h2>
        <span>{{ 'about.descriptionWorking' | ownLanguage }}</span>
        <h2>{{ 'about.websiteTitle' | ownLanguage }}</h2>
        <span>{{ 'about.descriptionWebsite1' | ownLanguage }}</span>
        <span>{{ 'about.descriptionWebsite2' | ownLanguage }}</span>
    </div>
</div>