.app-create-account {
    h4 {
        width: 50%;
        margin: 30%;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .mat-card {
        width: 50%;
        margin: 30%;
        margin-top: 0%;
    }
}