<h1 class="text-center bold">{{ "suggestions.header" | ownLanguage }}</h1>
<h4 class="text-center">{{ "suggestions.explanation" | ownLanguage }}</h4>
<form #suggestionForm="ngForm" (ngSubmit)="sendSuggestion()">
    <div name="inputFields">
        <mat-form-field appearance="fill">
            <input #userNameInput="ngModel" matInput="matInput" [(ngModel)]="suggestion.authorName" name="authorName" placeholder="{{ 'common.name' | ownLanguage }}" required/>
            <mat-error><span [hidden]="suggestionForm.pristine || !(userNameInput.errors && userNameInput.errors['required'])">{{ "common.requiredField" | ownLanguage }}</span></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input #emailInput="ngModel" matInput="matInput" email [(ngModel)]="suggestion.authorMail" name="authorMail" placeholder="{{ 'common.eMail' | ownLanguage }}"/>
            <mat-error><span [hidden]="suggestionForm.pristine || !(emailInput.errors && emailInput.errors['email'])">{{ "common.requiredEmail" | ownLanguage }}</span></mat-error>
            <mat-error><span [hidden]="suggestionForm.pristine || !(emailInput.errors && emailInput.errors['required'])">{{ "common.requiredField" | ownLanguage }}</span></mat-error>
        </mat-form-field>
        <textarea name="body" [(ngModel)]="suggestion.body" #suggestionsInput="ngModel"></textarea>
        <mat-error><span [hidden]="!(suggestionsInput.errors && suggestionsInput.errors['required'])">{{ "common.requiredField" | ownLanguage }}</span></mat-error>
        <div class="buttons" *ngIf="!suggestionForm.pristine">
          <button class="btn waves-effect waves-light blue" (click)="resetForm()" type="button">{{ "common.cancel" | ownLanguage }}</button>
          <button class="btn waves-effect waves-light blue">{{ "common.save" | ownLanguage }}</button>
        </div>
    </div>
</form>
