.app-cards-presentation {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        button { 
                background:none; 
                border:none;
            padding: 16px;
            :hover{
                opacity: 0.5;
            }
            mat-card {
                height: 50vh;
                display: flex;
                flex-direction: column;
                h5 {
                    font-weight: bold;
                }
                .picture-container {
                    width: 100%;
                    height: 100px;
                }
                mat-card-content {
                    overflow: hidden;
                    markdown {
                        overflow: hidden;
                    }
                }
            }
        }
    }
}