.app-header {
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 2;
    img {
        width: auto;
        padding-top:0.2rem;
        @media (max-width: 450px) {
            max-height: 26px;
        }
        max-height: 56px;
    }
    nav {
        @media (max-width: 450px) {
            line-height: 26px;
        }
        height: auto;
        display: flex;
        flex-direction: column;
        .brand-logo {
            position: relative;
        }
        ul {
            position: relative;
            padding-left: 56px;
            li a{
                font-size: large;
                @media (max-width: 450px) {
                    font-size: small;
                }
            }
        }
        .loggedIn{
            line-height: 2rem;
            color: green;
            text-align: center;
            @media (max-width: 450px) {
                line-height: 1rem;
                font-size: smaller;

            }
        }
        .notLoggedIn {
            line-height: 2rem;
            color: inherit;
            text-align: center;
            @media (max-width: 450px) {
                line-height: 1rem;
                font-size: smaller;
            }
        }
        button {
            @media (max-width: 450px) {
            padding: 0px;
            height: 30px;
            width: 25px;
            }
            
        }
    }
}