.app-header {
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 2;
    img {
        max-height: 100%;
        width: auto;
        padding-top:0.2rem;
        max-height: 56px;
    }
    nav {
        height: auto;
        display: flex;
        flex-direction: column;
        .brand-logo {
            position: relative;
        }
        ul {
            position: relative;
            li a{
                font-size: large;
            }
        }
        .loggedIn{
            line-height: 2rem;
            color: green;
            text-align: center;
        }
        .notLoggedIn {
            line-height: 2rem;
            color: inherit;
            text-align: center;
        }
    }
}