.app-header {
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 2;
    img {
        width: auto;
        padding-top:0.2rem;
        @media (max-width: 450px) {
            max-height: 36px;
        }
        max-height: 56px;
    }
    nav {
        @media (max-width: 450px) {
            line-height: 36px;
        }
        height: auto;
        display: flex;
        flex-direction: column;
        .brand-logo {
            position: relative;
        }
        ul {
            position: relative;
            padding-left: 56px;
            @media (max-width: 450px) {
                padding-left: 26px;
            }
            li a{
                font-size: large;
                @media (max-width: 450px) {
                    font-size:medium;
                }
                @media (max-width: 320px) {
                    font-size: small;
                }
            }
        }
        .loggedIn{
            color: green;
        }
        .notLoggedIn {
            color: inherit;
        }
        .loggedText {
            line-height: 2rem;
            text-align: center;
            @media (max-width: 450px) {
                line-height: 1rem;
                font-size: 10px;
            }
            @media (max-width: 300px) {
                font-size: 8px;
            }

        }
        button {
            @media (max-width: 450px) {
            padding: 0px;
            height: 30px;
            width: 20px;
            margin: 0px
            }
            @media (max-width: 300px) {
                padding: 0px;
                height: 25px;
                width: 15px;
                margin: 0px;
                font-size: 10px;
                }
            
        }
    }
}