<form #restoreForm="ngForm" (ngSubmit)="submitRestore()">
    <h4>{{ "account.restorePassword" | ownLanguage }}</h4>
    <mat-card>
        <div [fxLayout]="'row'">
            <label for="email" [fxFlex]="'0 0 25%'">{{ "common.eMail" | ownLanguage }}:</label>
            <input matInput [fxFlex]="'0 0 50%'" type="email" id="email" #emailControl="ngModel" email placeholder="{{ 'common.eMail' | ownLanguage }}" required name="email" [(ngModel)]="userMail"/>
        </div>
        <div [fxLayout]="'row'">
            <label for="oldPassword" [fxFlex]="'0 0 25%'">{{ "account.oldPassword" | ownLanguage }}:</label>
            <input  [fxFlex]="'0 0 50%'" type="password" id="oldPassword" #oldPasswordControl="ngModel" placeholder="{{ 'account.oldPassword' | ownLanguage }}" required name="oldPassword" [(ngModel)]="oldPassword"/>
        </div>
        <div [fxLayout]="'row'">
            <label for="newPassword" [fxFlex]="'0 0 25%'">{{ "account.newPassword" | ownLanguage }}:</label>
            <input  [fxFlex]="'0 0 50%'" type="password" id="newPassword" #newPasswordControl="ngModel" placeholder="{{ 'account.newPassword' | ownLanguage }}" required name="newPassword" [(ngModel)]="newPassword"/>
        </div>
        <div class="buttons" *ngIf="!restoreForm.pristine">
          <button class="btn waves-effect waves-light blue" (click)="resetForm()" type="button">{{ "common.cancel" | ownLanguage }}</button>
          <button class="btn waves-effect waves-light blue">{{ "common.send" | ownLanguage }}</button>
        </div>
    </mat-card>
</form>