.app-create-blog {
    >div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        form {
            width: 100%;
            >* {
                width: 100%;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            textarea {
                min-height: 20rem;
            }
        }
        .mat-form-field {
            width: 100%;
            display: block !important;
            .mat-form-field-infix {
                width: 100%;
            }
        }
        .imageButton {
            width: fit-content;
            margin-top: 5rem;
            margin-bottom: 1rem;
        }
        input, textarea {
            width: 100%;
        }
    }
    .imageContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        img {
            align-self: center;
        }
    }
}